a {
  color: #f76b8a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  display: block;
}

.weather {
  background-color: rgba(102, 191, 191, 10%);
  max-width: 600px;
  margin: auto;
  padding: 40px;
  border: 1px solid #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.app {
  max-width: 800px;
  margin: 60px auto;
  background-color: #fff;
}

strong {
  color: #f76b8a;
}
