.footerA {
  color: #f76b8a;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.footerA:hover {
  color: #f76b8a;
  text-decoration: underline;
}

.weather {
  font-family: "Pacifico", cursive;
  background: rgba(102, 191, 191, 20%);
  max-width: 600px;
  margin: auto;
  padding: 40px;
  border: 2px ridge #fa91a8;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 30%);
}

.app {
  max-width: 800px;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 25%);
}

.weather .search-input {
  background: #e7e7e7;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.btn:hover {
  background: #66bfbf;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  height: 50px;
}
.weather .btn {
  background: #66bfbf;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  height: 50px;
}
#tempNow {
  font-size: 40px;
}
strong {
  color: #f76b8a;
}

footer {
  text-align: center;
}

.city {
  font-style: capitalize;
}

.units {
  font-size: 18px;
  font-family: "Pacifico", cursive;
}

.float-left {
  float: left;
}

#unitChangeF {
  color: #f76b8a;
  text-decoration: none;
}

#unitChangeF:hover {
  color: #f76b8a;
  text-decoration: underline;
}

#unitChangeC {
  color: #749797;
  text-decoration: none;
}

#unitChangeC:hover {
  color: #749797;
  text-decoration: underline;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #f76b8a;
}

.weather-forecast-date {
  font-size: 15px;
  font-family: "Lobster", cursive;
  color: #749797;
}

.weather-forecast-temperature-min {
  font-size: 14px;
  opacity: 0.6;
}
